$menuText:var(--menu-text,#bfcbd9);//非活动的
$menuActiveText:var(--menu-active-text,#409EFF);
$subMenuActiveText:var(--sub-menu-active-text,#f4f4f5);

$menuBg:var(--menu-bg,#304156);
$menuHover:var(--menu-hover,#263445);

$subMenuBg:var(--sub-menu-bg,#1f2d3d);
$subMenuHover:var(--sub-menu-hover,#001528);

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
